<div>
    <section class="home-page">
        <img src="/img/rollercoster.jpg" alt="">
        <ul class="home-pageList">
            <li><button type="button" class="btn btn-outline-danger btn-lg"><a href="/rollerCosterGalery">RollerCoster
                        Gallery</a></button></li>
            <li><button type="button" class="btn btn-outline-danger btn-lg"><a href="/largeCoaster">Large Coaster
                        Gallery</a></button></li>
        </ul>
    </section>

</div>